In [1]:
## Imports
import pandas as pd

In [2]:
## Load data
df = pd.read_csv('Data/fall_data.csv') 
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2039 entries, 0 to 2038
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Distance       2039 non-null   float64
 1   Pressure       2039 non-null   float64
 2   HRV            2039 non-null   float64
 3   Sugar level    2039 non-null   float64
 4   SpO2           2039 non-null   float64
 5   Accelerometer  2039 non-null   float64
 6   Decision       2039 non-null   int64
dtypes: float64(6), int64(1)
memory usage: 111.6 KB

   Distance  Pressure      HRV  Sugar level    SpO2  Accelerometer  Decision
0    25.540       1.0  101.396       61.080  87.770            1.0          1
1     2.595       2.0  110.190       20.207  65.190            1.0          2
2    68.067       0.0   87.412       79.345  99.345            0.0          0
3    13.090       1.0   92.266       36.180  81.545            1.0          1
4    69.430       0.0   89.480       80.000  99.990            0.0          0

> We can see that the data does not have any missing values. One hot encoded features will be converted to 'int64' dtype.

In [3]:
## Reformat column names
df.columns = df.columns.str.lower()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2039 entries, 0 to 2038
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   distance       2039 non-null   float64
 1   pressure       2039 non-null   float64
 2   hrv            2039 non-null   float64
 3   sugar level    2039 non-null   float64
 4   spo2           2039 non-null   float64
 5   accelerometer  2039 non-null   float64
 6   decision       2039 non-null   int64
dtypes: float64(6), int64(1)
memory usage: 111.6 KB

In [4]:
df.rename(columns={'distance':'distance (cm)','hrv':'hrv (bpm)',
                   'sugar level':'blood sugar level (mg/dL)',
                   'decision ':'decision',}, inplace=True)

In [5]:
df.columns

Index(['distance (cm)', 'pressure', 'hrv (bpm)', 'blood sugar level (mg/dL)',
       'spo2', 'accelerometer', 'decision'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2039 entries, 0 to 2038
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   distance (cm)              2039 non-null   float64
 1   pressure                   2039 non-null   float64
 2   hrv (bpm)                  2039 non-null   float64
 3   blood sugar level (mg/dL)  2039 non-null   float64
 4   spo2                       2039 non-null   float64
 5   accelerometer              2039 non-null   float64
 6   decision                   2039 non-null   int64
dtypes: float64(6), int64(1)
memory usage: 111.6 KB

> There are no missing values in the data set

In [7]:
## Change categorical features dtype from float64 to int
cols_change = {'pressure':'int64', 'accelerometer':'int64'}

In [8]:
df = df.astype(cols_change)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2039 entries, 0 to 2038
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   distance (cm)              2039 non-null   float64
 1   pressure                   2039 non-null   int64
 2   hrv (bpm)                  2039 non-null   float64
 3   blood sugar level (mg/dL)  2039 non-null   float64
 4   spo2                       2039 non-null   float64
 5   accelerometer              2039 non-null   int64
 6   decision                   2039 non-null   int64
dtypes: float64(4), int64(3)
memory usage: 111.6 KB

In [9]:
## Check statistical description for impossible values
df.describe()

,distance (cm),pressure,hrv (bpm),blood sugar level (mg/dL),spo2,accelerometer,decision
count,2039.000000,2039.000000,2039.000000,2039.000000,2039.000000,2039.000000,2039.000000
mean,28.694527,0.988720,95.657002,72.909243,83.563649,0.661599,0.988720
std,23.773644,0.815918,17.576499,46.940110,11.111592,0.473282,0.815918
min,0.000000,0.000000,60.000000,10.000000,60.000000,0.000000,0.000000
25%,7.642500,0.000000,82.418000,40.230000,75.285000,0.000000,0.000000
50%,20.560000,1.000000,97.238000,69.960000,85.280000,1.000000,1.000000
75%,55.205500,2.000000,109.695000,77.612500,92.692500,1.000000,2.000000
max,69.981000,2.000000,124.980000,179.293000,99.990000,1.000000,2.000000

> The blood sugar level (mg/dL) column has a huge range between the max and min values. A reading of 10 mg/dL would be life-threateningly low. This will further be explored in the EDA process.

In [10]:
## Save cleaned dataframe
df.to_csv('Data/clean_fall_data.csv')

# Data Cleaning Summary

- The data was already clean for missing values and inconsistencies.
- Column names were changed to all lowercase and one hot encoded features were changed to 'int64' dtype for ease of work.
- Cleaned dataframe was saved to a .csv file.